<tr id="feed_<%= feed.id %>">
  <td class="status">
    <% if feed.approved != 0  and feed.approved != false %>
      <%= link_to image_tag('checked.gif', :border=>0), {:action=>'unpublish', :id=> feed.id}, :title=>"Unpublish" %>
    <% else %>
      <%= link_to image_tag('x-ed.gif', :border=>0), {:action=>'publish', :id=>feed.id}, :title=>"Publish" %>
    <% end %>
   </td>
   <td> 
    <%=h feed.title %> <a target="_new" href="<%= feed.link %>"><%= image_tag('go.png', :border=>0) %></a>
  </td>
  <td><%=h feed.feed_type || "Unknown" %></td>
  <td class="created"><%= distance_of_time_in_words_to_now feed.created_at %> ago</td>
  <td class="retrieved"><%= (distance_of_time_in_words_to_now feed.last_retrieved) + " ago" if !feed.last_retrieved.nil? %></td>
  <td class="edit">
  <%= link_to image_tag('go.png', :border=>0), {:action => 'edit', :id => feed.id}, :title=>"Edit" %>
  </td>
  <td class="validate">
    <%= link_to image_tag('go.png', :border=>0), "http://www.feedvalidator.org/check.cgi?url=#{feed.url}", :popup=>true %>
  </td>
  <td class="delete">
  <%= link_to_remote image_tag("delete.png", :border=>0), 
            :url=>{:action => 'destroy', :id => feed.id}, 
            :success=>"new Effect.Fade('feed_#{feed.id}', {duration: 1})",
            :confirm => "Are you sure you want to delete the feed:\n#{feed.title}?", 
            :title=>"Delete" %>
  </td>
</tr>
