<% @page_heading = "Settings" %>
<div class="form">
  <%= start_form_tag :action=>"update" %>
  <div class="form_container">
    <dl>
      <dt>Site Title:</dt>
      <dd><%= text_field "setting", "planet_name", :value=>"#{config_value(:planet_name)}" %></dd>
      <dt>Footer:</dt>
      <dd><%= text_field "setting", "footer", :value=>"#{config_value(:footer)}" %></dd>
      <dt>Num Bounces:</dt>
      <dd><%= text_field "setting", "num_bounces", :value=>"#{config_value(:num_bounces)}" %></dd>
    </dl>
  </div>
  <div class="operations">
    <%= submit_tag "Save Settings" %>
  </div>
  <%= end_form_tag %>
</div>
